#plan-page {
  height: 100%;
  width: 100%;
  /*margin: 0;*/
  padding: 0;
  margin: 0px auto;
}
#map-section {
  height: 80%;
  padding: 0;
}
#map {
  height: 100%;
}
.pre-scrollable {
  max-height: 80%;
}
.controls {
/*margin-top: 10px;*/
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 40px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #fff;
font-family: 'Work Sans', sans-serif;
font-size: 15px;
font-weight: 200;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 100%;
color: black;
}

#pac-input:focus {
border-color: #4d90fe;
}

.pac-container {
font-family: 'Work Sans', sans-serif;
}
.delete-spot-button{
  padding: 0;
}
#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: 'Work Sans', sans-serif;
font-size: 13px;
font-weight: 200;
}
.all-clips{
  font-size: 14px;
}

.info-window {
  color: black;
}
.modal-content{
  color: black;
}
