.jumbotron {
  text-align: left;
  /*border-bottom: 1px solid lightgrey;*/
  color: black;
  padding: 10%;
  padding-bottom: 0;
  background-color: transparent;
}
.jumbotron p {
  font-size: 16px;
}

.jumbotron .btn {
  padding: 1px 8px;
  font-size: 14px;
  border: 1px;
  border-color: lightgrey;
}

.avatar-image-holder {
  border-radius: 100%;
  text-align: right;
}

.avatar-image {
  margin-top: 5%;
  height: 100px;
  width: 100px;
  border-radius: 50%
}
