<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="Hero-Heading">Travel Planning</h1>
        <p class="lead">For people who love it and hate it.<br>

        </p>

        <p class="lead">
          <a class="page-scroll btn btn-default" ng-click="addExtension()" id="install-button">Add our Clipper to Chrome</a>
        </p>
        <p class="lead"><small>and highlight any location on the web to add to your itinerary. </small></p>
      </div>


    </div>

  </div>

</div>
