<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Travel Without <small style="color:white">much</small> Planning</h1>

        <p class="lead">Save points of interests you find on the internet with our clipper </p>

        <p class="lead">
          <a class="page-scroll btn btn-default" ng-click="addExtension()" id="install-button">Add to Chrome</a>
        </p>
        <p class="lead"><small>Note: This is a beta version.</small></p>
      </div>


    </div>

  </div>

</div>
