

<!-- <div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="Hero-Heading">Travel Planning</h1>
        <p class="lead">For people who love it and hate it.<br>

        </p>

        <p class="lead">
          <a class="page-scroll btn btn-default" ng-click="addExtension()" id="install-button">Add our Clipper to Chrome</a>
        </p>
        <p class="lead"><small>and highlight any location on the web to add to your itinerary. </small></p>
      </div>


    </div>

  </div>

</div> -->
<button id="arrow">	<span>↓</span></button>
<div id="pagepiling">
  <div class="section" id="section1">
    <!-- <div class="section1-intro">
      <div class="inner cover">
        <h1 class="Hero-Heading">Travel Planning</h1>
        <p class="lead">For people who love it and hate it.<br>

        </p>

        <p class="lead">
          <a class="page-scroll btn btn-default" ng-click="addExtension()" id="install-button">Add our Clipper to Chrome</a>
        </p>
        <p class="lead"><small>and highlight any location on the web to add to your itinerary. </small></p>
      </div>

    </div> -->
    <div class="section1-intro">
      <br><br><br><br><br>
      <h1>Travel Planning</h1>

      <p>For people who love it and who who hate it.
        </p>
    </div>
  </div>
  <div class="section" id="section2">
    <div class=" col-md-offset-1 section2-intro">
      <br><br><br><br><br>

        <h1>Unwander is Travel Plans</h1>

        <p>We did not just make another travel planning app. Our goal was to make something supremely simple
          for people to create travel plans and we have done just that. No million options and cluttered screens.
          Just name your trip and you are off.
          </p>
    </div>
  </div>
  <div class="section" id="section3">
    <div class=" col-md-offset-8 section3-intro">
      <h1>Finally what you want</h1>

      <p>We made it really, really simple for you to add interesting locations to a travel plan.
        Once you add our Clipper, a chrome extension, you can right click on any point of interest or location on any website
        and simply add it to your travel plans. We will pull in all the details like address, photos, opening hours, tips etc.</p>
    </div>
  </div>
  <div class="section" id="section4">
    <div class=" col-md-offset-1 section4-intro">
      <br><br><br><br><br>

      <h1>Focused</h1>

      <p>See all your clips on a map, just like you’d expect. Want to divide the clips for different days? Just drag and drop them. Add commentary if you like.
        And that's it......Just a simple travel plan and not a lot of confusing options.
      </p>
    </div>
  </div>
  <!-- <div class="section pp-scrollable" id="section5">
    <div class="content">
      <div class="header">
        <h1>pagePiling.js</h1>

        <p>Pile your sections one over another and access them scrolling or by URL!</p>
      </div>
      <div class="page">
        <p></p>
      </div>
    </div>
  </div> -->
</div>
