
    <div id="plan-page" class="row content">


          <input id="pac-input" class="controls" type="text"
              placeholder="Enter a location">
        <!-- Google Map -->
        <div id="map-section" class="col-md-9">
          <div id="map" ng-init="initializeMap()"></div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">{{ showPlan.title }} <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>

                  <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="spot in showPlan.spots">
                      <h4 class="list-group-item-heading">{{ spot.name }}</h4>
                      <p class="list-group-item-text">Recommended by Leo Messi</p>
                    </a>

                 </div>


            </div>
        </div>
    </div>
    <hr/>
