
<br>
<br>
<br>
<br>
<br>

<div id="plan-page" class="row content">



        <!-- Side Panel -->
        <div class="col-md-3 spots-section pre-scrollable">

            <div class="panel panel-default">
              <input id="pac-input" class="controls" type="text"
              placeholder="Enter a location">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">{{ showPlan.title }} <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <nav>
                  <ul class="pagination pagination-sm">
                    <li>
                      <a href="#" ng-click="$event.preventDefault(); changeDay('all')">
                        <span aria-hidden="true">All Clips</span>
                      </a>
                    </li>
                    <!-- <li><a href="#" dnd-list="models.days.One" ng-click="$event.preventDefault(); changeDay('1')">1</a></li>
                    <li><a href="#" dnd-list="models.days.Two" ng-click="$event.preventDefault(); changeDay('2')">2</a></li> -->
                    <li><a href="#" ng-repeat="day in showPlan.days" dnd-list="day.spots" ng-click="$event.preventDefault(); changeDay(day)">{{ day.number }}</a></li>
                    <li><a href="#"  ng-click="$event.preventDefault(); addDay()">+</a></li>
                    <li><a dnd-list="trash" ng-click="$event.preventDefault()"><i class="fa fa-trash"></i></a></li>

                  </ul>
                </nav>

                <div ng-show="daySelected === 'all'" class="list-group" >


                        <a ng-dblclick="$event.preventDefault(); getSpotDetails(spot.place_id)" class="list-group-item"
                        ng-repeat="spot in showPlan.spots"
                        dnd-draggable="spot"
                        dnd-moved="addSpotToDatabase()"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = spot"
                        ng-class="{'selected': models.selected === spot}">
                          <p class="all-clips col-md-9">{{ spot.name }}</p>
                          <button class="btn btn-default delete-spot-button" type="button" ng-click="deleteSpot(spot)">x</button>

                        </a>
                </div>
                <div ng-hide="daySelected === 'all'" class="list-group">
                  <a class="list-group-item" ng-dblclick="$event.preventDefault(); getSpotDetails(spot.place_id)"
                  ng-repeat="spot in showPlan.days[currentDayIndex].spots"
                  dnd-draggable="spot"
                  dnd-moved="moveASpot($index)"
                  dnd-effect-allowed="move"
                  dnd-selected="models.selected = spot"
                  ng-class="{'selected': models.selected === spot}">
                    {{ spot.name }}
                  </a>
                </div>






                 <script type="text/ng-template" id="myModalContent.html">
                     <div class="modal-header">
                         <h3 class="modal-title">{{ spotDetails.name }}</h3>
                     </div>
                     <div class="modal-body">
                         <p>Address - {{ spotDetails.formatted_address  }}</p>
                         <hr>
                         <p>Rating - {{ spotDetails.rating  }}</p>
                         <hr>
                         <div>
                         <button class="btn btn-default" type="button" ng-click="previousPic()"><</button>
                         <img ng-src="{{ imgUrl }}" alt="No Images Available" />
                         <button class="btn btn-default" type="button" ng-click="nextPic()">></button>
                         </div>
                     </div>
                     <div class="modal-footer">
                         <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                     </div>
                 </script>


            </div>
        </div>

        <!-- Google Map -->
        <div id="map-section" class="col-md-9">
          <div id="map" style="width:100%; height:100%"></div>
        </div>
</div>
    <hr/>
