
<br>
<br>
<br>
<br>
<br>

<div id="plan-page" class="row content">



        <!-- Side Panel -->
        <div class="col-md-3 spots-section pre-scrollable">
            <div class="panel panel-default">
              <input id="pac-input" class="controls" type="text"
              placeholder="Enter a location">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">{{ showPlan.title }} <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>

                  <div class="list-group row" ng-repeat="spot in showPlan.spots">

                    <div class="col-md-10">
                    <a  href="#" ng-click="$event.preventDefault(); getSpotDetails(spot.place_id)" class="list-group-item" >
                      <h6 class="list-group-item-heading">{{ spot.name }}</h6>
                    </a>

                    </div>
                    <div class="col-md-2">
                    <button class="btn btn-default" type="button" ng-click="deleteSpot(spot)">x</button>
                    </div>
                 </div>


                 <script type="text/ng-template" id="myModalContent.html">
                     <div class="modal-header">
                         <h3 class="modal-title">{{ spotDetails.name }}</h3>
                     </div>
                     <div class="modal-body">
                         <p>Address - {{ spotDetails.formatted_address  }}</p>
                         <hr>
                         <p>Rating - {{ spotDetails.rating  }}</p>
                         <hr>
                         <div>
                         <button class="btn btn-default" type="button" ng-click="previousPic()"><</button>
                         <img ng-src="{{ imgUrl }}" alt="No Images Available" />
                         <button class="btn btn-default" type="button" ng-click="nextPic()">></button>
                         </div>
                     </div>
                     <div class="modal-footer">
                         <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                     </div>
                 </script>


            </div>
        </div>

        <!-- Google Map -->
        <div id="map-section" class="col-md-9">
          <div id="map" style="width:100%; height:100%"></div>
        </div>
</div>
    <hr/>
